.hero{
    background-image: url("/heroAbout/heroAbout.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-block-start: 300px;
    padding-block-end: 22px;
}

.hero__title{
    color: #FFF;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-block-end: 22px;
}

.hero__description{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 161.523%; /* 29.074px */
}