.hero{
    height: 100dvh;
    background-image: url("/hero/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-block-start: 200px;
    position: relative;
    z-index: 10;
}

.hero::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-image: url("/hero/bg-ligth.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
     background-blend-mode: screen;
     isolation: isolate;
     z-index: -1;
}

.flex__group{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.hero__text{
    max-width: 681px;
    position: relative;
    z-index: 20;
}

.hero__title{
    color: #FFF;
    font-family: Inter;
    font-size: clamp(20px, 5vw + 1rem, 60px);
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    margin-block-end: 20px;
}

.hero__description{
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 161.523%; 
    margin-block-end: 40px;
}

.image__box{
    position: relative;
    z-index: 10;
}

.side__box{
    position: absolute;
    width: max-content;
    top: 150px;
    right: 0;
    z-index: 10;
}

@media (max-width:800px) {
    .side__box{
        bottom: 0;
        top: auto;
    }
}

.image__box::after{
    content: "";
    display: block;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 419.079px;
    border: 2px solid #50CAFF;
    box-shadow: 0px 0px 15px 0px #00B2FE, 0px 0px 15px 0px #00B2FE, 0px 0px 250px 86px rgba(0, 178, 254, 0.15);
    z-index: -1;
}

.image__box::before{
    content: "";
    display: block;
    width: 70%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 419.079px;
    border: 2px solid #50CAFF;
    box-shadow: 0px 0px 15px 0px #00B2FE, 0px 0px 15px 0px #00B2FE, 0px 0px 250px 86px rgba(0, 178, 254, 0.15);
    z-index: -1;
}