.hero{
    height: 100dvh;
    background-image: url("/hero/hero-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-block-start: 300px;
}