.info{
    padding-block: 80px;
    background-image: url("/info/info-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info__container{
    height: 100%;
    display: grid;
    place-items: center;
}

.list__box{
    border-radius: 30px;
    border: 2px solid rgba(64, 181, 232, 0.38);
    background: #25253D;
    padding: 40px;
}
.card__list{
    width: 100%;
    counter-reset: item;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 300px), 1fr));
    place-items: center; 
    gap: 40px;  
    margin-block-end: 30px;
}


.card__split{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


@media (max-width:463px) {
    .info__container{
        display: block;
    }
}