.card{
    max-width: 260px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all 500ms ease-in-out;
}

.card:hover{
    border-radius: 10px;
    border: 2px solid #FDFEF6;
    box-shadow: 0px 0px 8px 0px #DDA4EA, 0px 0px 4px 0px #DDA4EA, 0px 0px 20px 0px #DDA4EA, 0px 0px 20px 0px #DDA4EA;
    transform: scale(1.1);
}



.card__title{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    position: absolute;
    bottom: 24px;
    left: 15px;
}